*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow: hidden;
}

.conteiner {
    padding: 8%;
    min-height: 100vh; /* Em vez de height: 100vh */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(to top, #4A235A 5%, rgba(0, 0, 0, 0) 50%), 
                url("./imgs/capa.jpeg") no-repeat center/cover;
}

/* Animação */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.parte-baixo-glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: auto;
    width: 100%;
    
    /* animação */
    animation: fadeInUp 1.2s ease forwards;
}

h1{
    text-align: center;
    font-family: "Meow Script", cursive;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 20px;

    /* animação */
    animation: fadeInUp 1s ease forwards;
}

h2{
    color: white;
    font-size: 35px;
    max-width: 100%;
    text-transform: uppercase;
}

a button{
    width: 90%;
    height: 40px;
    border: none;
    background-color: #FAD0C4;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #4A235A;
    text-transform: uppercase;
    transition: .3s;
}

a button:hover{
    transform: scale(1.08);
}
